<div class="wrapper">
    <mat-card class="class-header">
        <h2>Sign-up Form</h2>
    </mat-card>
    <mat-card>
      <form style="margin-left: 42px;">
            <p>
                <mat-form-field appearance="outline" class="user">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="LN">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
                <mat-form-field appearance="outline" class="FN">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </p>
            <p>
            </p>
            <p>
                <mat-form-field appearance="outline" class="email">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="pwd">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
                <mat-form-field appearance="outline" class="cpwd">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </p>
            <p>
            </p>
           <p>
            <button mat-raised-button routerLink="/home" style="background: #283593;color: #fff;
        ">Register</button>
           </p>
        </form>
      
    </mat-card>
</div>